@model ShopProject.ViewModels.CarViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Подробное описание @Model.Car.Name</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.IsFavorite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.IsFavorite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("CategoryName")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("CategoryDescription")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Category.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Category.CarEngine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Category.CarEngine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Car.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
